@model Vidly.ViewModels.CustomerViewModel
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@using (Html.BeginForm("New", "Customers"))
{
    <div class="form-group">
        <button type="submit" class="btn btn-primary">NEW CUSTOMER</button>
    </div>
}
<div>
    <table id="customersTable" class="table table-bordered table-hover">
        <tr>
            <th>Customer</th>
            <th>Discount Rate</th>
            <th>Membership Type</th>
            <th>Delete</th>
        </tr>

        @{
            if (Model.Customers.Count() > 0)
            {
                foreach (var c in Model.Customers)
                {
                    <tr>
                        <td><a href="~/Customers/Edit/@c.Id">@c.Name</a></td>
                        <td>@c.MembershipType.DiscountRate%</td>
                        <td>@c.MembershipType.Name</td>
                        <td>
                            <button class="btn btn-link js-delete">Delete</button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>We dont have any customers yet.</td>
                </tr>
            }
        }
    </table>
</div>


@section scripts
{
    <script>
        $(document).ready(function () {
            $("#customersTable .js-delete").on("click", function () {
                if (confirm("Are you sure you want t delete this customer?")) {

                }
            });
        });
    </script>
}