
@{
    ViewBag.Title = "New Rental Form";
}

<h2>New Rental Form</h2>

<form id="newRentalForm">
    @*div.form-group>label+input[type='text'].form-control*@

    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input id="customer" type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label>Movie</label>
        <div class="tt-container">
            <input id="movie" type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-4">
            <ul id="moviesList" class="list-group"> </ul>
        </div>
    </div>

    <button class="btn btn-primary">Submit</button>

</form>

@section scripts
{
    <script>

        $(document).ready(function () {
            var vm = {
                movieIds: []
            };
            // customer
            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#customer').typeahead({
                minLenght: 3,
                highlight: true
            }, {
                    name: 'customer',
                    display: 'name',
                    source: customers
                }).on("typeahead:select", function (e, customer) {
                    vm.customerId = customer.id
                });

            // movies
            var movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/movies?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#movie').typeahead({
                minLenght: 3,
                highlight: true
            }, {
                    name: 'movie',
                    display: 'name',
                    source: movies
                }).on("typeahead:select", function (e, movie) {
                    // updating the DOM
                    $("#moviesList").append("<li class='list-group-item'>" + movie.name + "</li>");
                    $("#movie").typeahead("val", "");
                    vm.movieIds.push(movie.id);
                });

            $("#newRentalForm").submit(function (e) {
                e.preventDefault();
                $.ajax({
                    url: "/api/newrentals",
                    method: "post",
                    data: vm
                })
                    .done(function () {
                        console.log("done");
                    })
                    .fail(function () {
                        console.log("failed");
                    })
            })
        });

    </script>
}